<settings>

    <setting propertyKey="@Properties.DisplayDial" title="@Strings.DisplayDial">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.DisplayMinute" title="@Strings.DisplayMinute">
        <settingConfig type="numeric" />
    </setting>

    <setting propertyKey="@Properties.Precision" title="@Strings.Precision">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.DisplayBattery" title="@Strings.DisplayBattery">
        <settingConfig type="boolean" />
    </setting>

</settings>
